{% extends "layout.html" %}

{% block title %}Stemmy | The stemming algorithms tester{% endblock %}

{% block content %}
    <section class="source">
        <header class="floating-header">
            <small>
                Source
                <span class="stemming-algorithms">
                    <a id="lovins-algorithm" href="#">Lovins</a>
                    <a id="paicehusk-algorithm" href="#">Paice-Husk</a>
                    <a id="porter-algorithm" href="#">Porter</a>
                    <a id="porter2-algorithm" class="active" href="#">Porter2</a>
                </span>
            </small>
        </header>
        <section class="source-content">
            <textarea class="source-area" name="source" aria-hidden="true"></textarea>
        </section>
    </section>
    <section class="result">
        <header class="floating-header">
            <small>
                Result
                <span id="word-count" class="word-count"></span>
            </small>
        </header>
        <section class="result-content">
            <div id="result"></div>
        </section>
    </section>
{% endblock %}
